*.out
result
tmp
*.pyc

# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*


*.out
result

# taiyan 
.vscode
*s3:*
sketch*
# scripts/
*taiyan*
run_debug.sh
run_ty.sh
transform.ipynb
gradio_cached_examples/